
.paginator {
    margin: 10px;

}

.pageNumber {
    padding: 5px;
    color: white;
    background-color: rgba(0,0,0,0);;
}

.pageNumber:hover {
    color: #0a0a10;
    background-color: #d3e0de;
}

.pageNumber.selectedPage {
    font-weight: bold;
    text-decoration: underline;
}

.button {
    color: white;
    background-color: rgba(0,0,0,0);;
    border: none;
    outline: 0;
    padding: 7px;
}

.button:hover {
    color: #0a0a10;
    background-color: #d3e0de;
}