.header {
    grid-area: h;
    background-color:  #0a0a10;
    padding: 15px;
   
  }
  
.logo{
  font-size: 30px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5%;
}

.loginBlock {
  float: right;
}

.loginBlock a{
  color: white;
}